<!doctype html>
<html ng-app>
  <head>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.2/angular.min.js"></script>
    <script src="controllers.js"></script>
  </head>
  <body ng-controller="TieListCtrl">
    <h1>Filter</h1>
    <div>
      Search:
      <input ng-model="query"/>
    </div>
    <div>
      Sort by:
      <select ng-model="sort">
        <option value="name">Alphabetical</option>
        <option value="price">Price</option>
      </select>
    </div>
    <div>
      <p>Total number of phones: {{ties.length}}</p>
      <ul>
        <li ng-repeat="tie in ties | filter:query | orderBy:sort">
          {{tie.name}} <br/>
          <b>{{tie.price}}$</b>
        </li>
      </ul>
    </div>
  </body>
</html>